.shopping-cart{
    border: 1px solid black;
    width: 15%;
    text-align: center;
    right:0;
    position: absolute;
    top:70px;
    background-color: white;
    
}

.animals{
    padding: 30px;
}
.btn{
    border-radius: 8px;
    cursor: pointer;
    border-color: #add8e6;
    border: 1px solid;
    color: #add8e6;
    background-color: white;
    font-size: 13px;
    padding: 2px;
}